<h2>Micro-frontend Loader</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/react-a" routerLinkActive="active">React A</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/react-a-and-b" routerLinkActive="active">React A & React B</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/applet-builder" routerLinkActive="active">Applet Builder</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/iframe-ng-a" routerLinkActive="active">IFrame Angular A</a>
  </li>
</ul>
<router-outlet></router-outlet>
